/* Declarar las constantes de colores y fuentes */
:root{
    /* Fuentes */
    --titulos: sans-serif;
    --parrafos: "Segoe IU", sans-serif;

    /* Colores */
    --encabezado: #fff;
    --piepagina: #000;
    --enlace: hsl(110, 83%, 35%);
    --enlacesobre: rgb(249, 127, 4);
}

*{
    box-sizing: border-box;
}

.home-wrapper{
    background-image: url(/images/playa.jfif);
    background-size: cover;
    width: 100%;
}

header{
    width: 100%;
    background-color: var(--encabezado);
    position: fixed;
    padding: 10px 0;
}

header nav{
    float: right;
}

header img{
    width: 100px;
}

header nav a{
    text-decoration: none;
    color: var(--enlace);
    margin-left: 30px;
}

header nav a:hover{
    color: var(--enlacesobre);
}

#home{
    text-align: center;
    padding: 200px 0 200px;
}

#home p{
    margin-top: 50px;
    color: #000;
    font-size: 25px;
    font-weight: bold;
}

#home h1{
    margin-bottom: 45px;
    font-weight: 700;
    font-size: 60px;
    color: #000;
}

.container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

section{
    padding: 80px 0;
}

section h2{
    text-align: center;
    margin-bottom: 30px;
    font-size: 45px;
}

#promociones .box{
    display: inline-block;
    width: 49%;
    padding: 8px;
}

#promociones .box p{
    text-align: justify;
}

#promociones .box img{
    padding-bottom: 10px;
    width: 100%;
}

#promociones .box h3{
    text-align: center;
}